.wrapper{
    height: 100vh;    
    display:flex;
    justify-content: space-between;
}

.input{
    background: rgba(187, 186, 186, 0.1); 
    width :65%;
    padding:1%;
    
}
.output{
    background: rgb(6, 37, 49);
    width :35%;  
    padding:1%;  
    color: white;
    
}
span{
    padding-top: 12px;
}
h1,h2{
    text-align: center;
}
.select{
width: 200px;
padding: 0.5em;
margin: 0.1em; 
}
.button{
    margin-left: 20px;
    /* border: solid white; */
    border:none;
    background-image: linear-gradient(to right,#e052a0,#f15c41);;
    color: white;
    /* font-weight:700; */
    cursor: pointer;
    border-radius: 4px;
}
.button:hover{
    background-image: linear-gradient(to right,#3ec7e0,#526bf4);
    color: white;

}
.main{
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
}